.logo {
  height: 64px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
}

nz-header {
  background: #fff;
  padding: 0 24px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 112px);
}

nz-footer {
  text-align: center;
}