<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="240">
    <div class="logo">
      <h1>Ng-Zorro Demo</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzSelected routerLink="/buttons-icons">
        <span nz-icon nzType="appstore"></span>
        <span>Buttons & Icons</span>
      </li>
      <li nz-menu-item routerLink="/grid-layout">
        <span nz-icon nzType="border"></span>
        <span>Grid Layout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <h1>Ng-Zorro Ant Design Demo</h1>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ng-Zorro Ant Design ©2023</nz-footer>
  </nz-layout>
</nz-layout>