<!-- src/app/app.component.html -->
<div class="global-style">
    <h1 style="color: blue; text-align: center;">2025年两会经济政策与热点</h1>
    <div class="image-container">
      <img src="https://ts1.tc.mm.bing.net/th/id/R-C.c08c357e58b642c429247384c7bc6365?rik=FH8COKtCAtypOw&riu=http%3a%2f%2fn.sinaimg.cn%2ftranslate%2f218%2fw2048h1370%2f20190314%2fm0RJ-hufnxfn1261279.jpg&ehk=63w6ztsuHcEiwdT4qUwdi9kAy36ZMbeA9h%2b5aHM1zuo%3d&risl=&pid=ImgRaw&r=0" alt="2025年两会">
    </div>
    <p class="local-style">2025年两会强调实施更加积极的财政政策，赤字率拟按4%左右安排，比上年提高1个百分点。</p>
    <p style="font-size: 18px; color: green;">两会提出强化宏观政策民生导向，推动更多资金资源“投资于人”，支持扩大就业、促进居民增收减负。</p>
    <p class="local-style">2025年政府工作报告将促内需置于十大工作任务之首，新质生产力发展与现代化产业体系建设是今年工作的重中之重。</p>
    <p style="font-size: 18px; color: green;">北大光华学者指出，中国不再是全球经济的“因变量”，而是成为推动增长的“自变量”，宏观政策范式重构为经济增长提供有力支撑。</p>
  </div>